<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>当年明月·ChaoVIP.com</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>5E0FF8972BE99D2030A3F8F389FD79F0</string>
		<key>cover-image-path</key>
		<string>OPS/images/cover.jpg</string>
		<key>package-file-hash</key>
		<string>9AD0C0CA3DF40138094671AA4694556A</string>
		<key>unique-id</key>
		<integer>-7291115821857504968</integer>
	</dict>
	<key>genre</key>
	<string>历史军事</string>
	<key>itemName</key>
	<string>明朝那些事儿(全7册合集)</string>
	<key>playlistName</key>
	<string>明朝那些事儿</string>
	<key>releaseDate</key>
	<string>2011-01-06</string>
	<key>sort-artist</key>
	<string></string>
	<key>sort-artist-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string></string>
	<key>sort-name-status</key>
	<integer>128</integer>
</dict>
</plist>
